footer {
  width: 100%;
  background-color: #111;
  color: #ffffff;
  padding: 15px 0;
}
 
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.footer-content nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}
 
.footer-content nav a:hover {
  text-decoration: underline;
}
 